<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>connection</title>
</head>

<body>
	<!-- Navigation menu -->
	<nav class="navbar navbar-expand ">
		<div class="container-fluid">
			<button class="btndisabled btn btn-success center-block disabled">Pay
				My Buddy</button>
			<div>
				<ul class="nav navbar-right">
					<li class="nav-item"><a class="nav-link active" href="menu">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="transfer">Transfer</a></li>
					<li class="nav-item"><a class="nav-link" href="registration">profile</a></li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="post">
							<input class="nav-link btn btn-primary" type="submit" value="Log Off" />
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- End Navigation menu -->

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered a connection!</div>
				</div>

				<h2 class="offset-md-2 pb-3">Add a new buddy to my list</h2>
			</div>
			<form th:action="@{/contact}" method="post" th:object="${appUser}">
				<div class="row">

					<div class="col-md-8 "></div>



					<div class="col-md-8 "></div>
					<div class="col-md-8 "><label class="control-label pt-2 " for="email" th:field="*{email}"> Email
						</label></div>
					<div class="col-md-8 "></div>

					<div class="col-md-8 "></div>
					<div class="col-md-8 "><input type="email" id="email" class="form-control pt-4 " th:field="*{email}"
							placeholder="fill the email of your buddy" required autofocus="autofocus" /></div>
					<div class="col-md-8 "></div>

				</div>

				<div class="row pt-4">




					<div class="col-md-4"></div>
					<div class="col-md-4 ">
						<button type="submit" class="btn btn-success offset-md-5 ">Register</button>
					</div>
					<div class="col-md-4 "></div>

				</div>

		</div>
		<div class="alert alert-warning" th:if="${error!=null}" th:text="${error}" role="alert">Une erreur est survenue
			>
		</div>
	</div>

</body>

</html>