<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!
                </div>
            </div>

            <h2 class="offset-md-10">Registration</h2>
        </div>
    </div>
    <!--<form th:action="@{/profil}" method="post" th:object="${user}">
        <input type="hidden" id="id" th:field="*{id}" name="id">-->
        <div class="row">
            <div class="col-md-6 pt-3 ">
                <label class="control-label offset-md-7" for="firstName"> First Name </label>
                <input id="firstName" class="form-control offset-md-7" 
                       required autofocus="autofocus"/>
            </div>
            <div class="col-md-6 pt-3 "></div>


            <div class="col-md-6 pt-3 ">
                <label class="control-label offset-md-7" for="lastName"> Last Name </label> <input
                    id="lastName" class="form-control offset-md-7" 
                    required autofocus="autofocus"/>
            </div>
            <div class="col-md-6 pt-3 "></div>


            <div class="col-md-6 pt-3 ">
                <label class="control-label offset-md-7" for="email"> Email </label>
                <input id="email" class="form-control offset-md-7"  required autofocus="autofocus"/>
            </div>
            <div class="col-md-6 pt-3 "></div>


            <div class="col-md-6 pt-3 ">
                <label class="control-label offset-md-7" for="password"> Password </label>
                <input id="password" class="form-control offset-md-7" type="password"
                        required autofocus="autofocus"/>
            </div>
            <div class="col-md-6 pt-3 "></div>


            <div class="col-md-7 pt-3">
                <button type="submit" class="btn btn-success offset-md-10">Submit</button>
            </div>
            <div class="col-md-6 pt-3 "></div>

    </form>
</div>
</body>
</html>