<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>Transfer</title>
</head>

<body>
	<nav class="navbar navbar-expand ">
		<div class="container-fluid">
			<button class="btndisabled btn btn-success center-block disabled">Pay
				My Buddy</button>
			<div>


				<ul class="nav navbar-right">
					<li class="nav-item"><a class="nav-link active" href="menu">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="registration">Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="post">
							<input class="nav-link btn btn-primary" type="submit" value="Log Off" />
							<div class="dropdown-menu">

							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- success message -->
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div th:if="${param.successTransfer}">
					<div class="alert alert-info">You've successfully transfered your money!</div>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-warning" th:if="${error!=null}" th:text="${error}" role="alert">Une erreur est survenue >
	</div>
	<div class="py-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 bg-light">
					<h4 class="">To Transfer money to a buddy<br></h4>
				</div>

				<div class="col-md-6 text-right"><a class="btn btn-primary" href="contact">Add Connection</a></div>
			</div>
			<span class="badge badge-pill badge-info">
				<h3 th:text="'  Dear '+${username}+' :'+' '+'Your balance amount'+' '+'='+' '+${balance}+'€'"> Hello
					user!
				</h3>
			</span>
		</div>
	</div>
	</div>
	<div class="card-body text-left col-md-6 text-Left">
		<div class="row">
			<div class="col-3">
				<div class="list-group" id="list-tab" role="tablist">
					<form class="form-inline" th:action="@{/transfer}" method="POST" th:object="${appTransaction}">
						<div class="my-3 py-1">
							<div class="container">

								<form name='f' th:object="${personForm}" method='POST'>
									<div class="col-lg-3" th:object="${test}">
										<select class="form-control" id="testOrder" name="receiverBankAccountNb">
											<option value="*{userContact.email}">Select Connection</option>
											<option th:each="userContact : ${userContacts}"
												th:text="${userContact.email}"></option>

										</select>
									</div>

								</form>
								<div class="row pt-2">

									<label class="col-md-6 control-label pt-1 " for="designation"> Description </label>
									<input id="designation" class="form-control " th:field="*{operationDescription}"
										placeholder="for example: 'gift Alex'" required autofocus="autofocus" />

								</div>
								<div class="row pt-2">
									<label class="col-md-4 control-label pt-1 ">Amount</label>
									<div class="form-group pl-2 pt-8">
										<div class="input-group"><input type="number" min="0.01" step=".01" value="0.01"
												placeholder="(min amount=0,01€)" class="form-control  "
												th:field="*{amount}" required autofocus="autofocus"
												id="inlineFormInputGroup" </div>

											<div class="col-md-3 pt-3 pl-2">
												<button type="submit"
													class="btn btn-success btn-block my-1 ">Pay</button>
											</div>
					</form>

				</div>
			</div>
		</div>

	</div>
	</div>
	</div>
	</div>
	</div>

<div class="tab-content row justify-content-center" id="nav-tabContent">
	<table class="table table-striped table thead-dark table-bordered">
	<h5 class="">My Connections<br></h5>
		<tr>
			<th>email</th>
			<th>name</th>
		</tr>
		<tr th:each="userContact : ${userContacts}">
			<td th:text="${userContact.email}">...</td>
			<td th:text="${userContact.firstName}+' '+${userContact.lastName}">...</td>
		</tr>
	</table>
	<div class="tab-content row justify-content-center" id="nav-tabContent">

		<table class="table table-striped table thead-dark table-bordered">
	</div>
	<h5 class="">My Transactions<br></h5>

	</div>
	<tr>
		<th>connection</th>
		<th>description</th>
		<th>amount</th>
	</tr>
	<tr th:each="appTransaction : ${appTransactions}">
		<td th:text="${appTransaction.receiverBankAccountNb}">...</td>
		<td th:text="${appTransaction.operationDescription}">...</td>
		<td th:text="${appTransaction.amount}">...</td>
	</tr>
	</table>



	<div class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4" th:if="${totalPages gt 0}">
					<ul class="pagination justify-content-center font-weight-medium">
						<li class="page-item" th:classappend="${currentPage eq 0} ? 'disabled'">
							<a class="page-link svg-icon"
								th:href="@{transactions?page={id}(id=${currentPage lt 2 ? 1 : currentPage})}"
								aria-label="Previous" title="Previous Page" rel="tooltip">
								<span aria-hidden="true" width="20" height="20"><i
										class="fa fa-chevron-left"></i></span>
							</a>
						</li>

						<li class="page-item" th:classappend="${i eq currentPage+1} ? 'active'" th:each="i : ${#numbers.sequence( 1, totalPages > 5 + currentPage ? currentPage + 5 : totalPages, 1)}">
                        <a class="page-link" th:href="@{transactions?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip">
                        </a>
                    </li>

                    <li class="page-item disabled" th:if="${currentPage + 5 < totalPages}">
                        <a class="page-link svg-icon" href="#">
                            <span width="20" height="20"><i class="fa fa-ellipsis-h"></i></span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage+1 eq totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{transactions?page={id}(id=${currentPage + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true" width="20" height="20"><i class="fa fa-chevron-right"></i></span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-left">
					
				</div>
			</div>
		</div>
	

</body>
</html>